<div class="col-md-12">
    <h1>Introduction</h1>
    <p>This page shows the currently persisted users of the application.
        <a href="https://www.mongodb.org/" target="_blank">MongoDB</a> serves as document-oriented data storage.
    </p>
    <h2>Users</h2>
    <table width="100%">
        <thead>
        <tr>
            <th>#</th>
            <th>Username</th>
            <th>Password</th>
            <th>Salt</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users">
            <td>{{user._id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.password}}</td>
            <td>{{user.salt.toString('hex')}}</td>
        </tr>
        </tbody>
    </table>
</div>