<div class="col-md-12">
    <h1>Register User</h1>
    <div data-alert class="alert-box alert round" ng-show="registerError">
        Error in creating user. Could have following reason: <ul><li>Password too short or too long (Bigger than 3, lower than 65)</li><li>Username too short or too long (Bigger than 0, lower than 13)</li><li>Username already exists</li>
    </div>
    <div data-alert class="alert-box success round" ng-show="registerSuccess">
        Conratulations, User {{username}} was created successfully, switch to <a ng-href="/profile">your profile</a>
    </div>
    <form ng-submit="registerNewUser()">
        <fieldset>
            <legend>Registration</legend>
            <label>Username
                <input type="text" placeholder="Username" name="username" ng-model="username">
            </label>
            <label>Password
                <input type="password" placeholder="Password" name="password" ng-model="passwd">
            </label>
            <input type="submit" class="button" value="Register">
            <a ng-href="/">Already a Member? Login</a>
        </fieldset>
    </form>
</div>
