<h1>nodeHashy</h1>
<h4>Example for storing Credentials (username, password) using pbkdf2</h4>
<div data-alert class="alert-box alert round" ng-show="authenticationError">
    Wrong credentials, try again!
</div>
<form ng-submit="loginUser()">
    <fieldset>
        <legend>Login</legend>
        <label>Username
            <input type="text" placeholder="Username" name="username" ng-model="username">
        </label>
        <label>Password
            <input type="password" placeholder="Password" name="password" ng-model="password">
        </label>
        <input type="submit" class="button" value="Login">
        <a ng-href="/register">Not a member? Register</a>
    </fieldset>
</form>